*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
/* header */
.header__content{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}
.header__logo{
    padding: 20px 0;
}
.header__logo a{
    float: left;
    width: 3%;
    height: 3%;
    line-height: 35px;
    text-align: center;
    background-color: #030349;
    color: #d5c21e;
    border-radius: 50%;
}
    
.header__logo h1{
    float: left;
    width: 97%;
    font-size: 35px;
    font-weight: 800;
}
.header__nav ul{
    list-style: none;
}
.header__nav li{
    display: inline;
    padding: 10px 20px;
}
.header__nav a{
    text-decoration: none;
    color: #030349;
    font-size: 20px;
}

/* carousel */
.carousel {
    background-image: url(../img/2.jpg);
    height: 600px;
    background-size: cover;
    margin: 20px 0;
}

/* about */
.about{
    padding: 60px 0;
}
.about__content{
    width: 90%;
    margin: 0 auto;
}
.about__title{
    float: left;
    width: 50%;
    padding: 0 30px;
}
.about__img{
    float: left;
    width: 50%;  
    padding: 0 10px;
}
.about__title h2{
    font-size: 35px;
    font-weight: 700;
}
.about__title p{
    font-size: 20px;
    padding: 15px;
}
.about__title button{
    background-color: #d5c21e;
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    padding: 15px 25px;
    border: none;
}
.about__img img{
    width: 95%;
}

/* number */
.number{
    padding: 60px 0;
}
.number__content{
    width: 80%;
    margin: 50px auto;
}
.number__item{
    display: inline-flex;
    float: left;
    width: 25%;
    padding: 0 40px;
}
.number__item p{
    font-size: 20px;
}
.number__item h2{
    padding: 0 10px;
    font-size: 50px ;
    line-height: 45px;
}

/* services */
.services{
    padding: 60px 0;
}
.services__content{
    width: 80%;
    margin: 0 auto;
}
.services__item{
    float: left;
    width: 21%;
    height: 120px;
    margin: 23px;
    background-color: #030349;
    text-align: center;
    padding: 30px 20px;
    color: white;
}
.services__item i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* blog */
.blog{
    padding: 60px 0;
}
.blog__content{
    width: 80%;
    margin: 0 auto;
    height: 550px;
}
.blog__content h1{
    padding: 10px ;
}
.blog__post{
    float: left;
    width: 50%;
    padding: 0 50px;
}
.blog__event{
    float: left;
    width: 50%;
    padding: 0 50px;
}
.post__item img{
    width: 35%;
    float: left;
    height: 100px;
    padding: 0 5px;
    margin: 0 15px;
}
.post__item{
    height: 140px;
    background-color: white;
    padding: 20px ;
}
.post__item p:first-of-type{
    padding: 10px 0;
    color: #3933338c;
}
.event__item{
    height: 180px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px; ;
}
.event__logo{
    float: left;
    width: 20%;
    text-align: center;
}
.event__detail{
    float: left;
    width: 80%;
}
.blog__content button{
    background-color: #d5c21e;
    font-weight: 700;
    padding: 5px 15px;
    margin-top: 20px;
    float: right;
    width: 100px;
    height: 40px;
    border: none;
}
.event__days{
    background-color: #d5c21e;
    width: 70px;
    height: 65px;
    line-height: 30px;
}
.event__logo p{
    background-color: darkblue;
    color: white;
    width: 70px;
    height: 25px;
}
.event__detail p{
    padding: 10px 0;
}
.event__time p{
    display: inline;
    color: #030349;
    padding: 0 10px;
}
.event__time p:first-of-type{
    border-right: #9e9e9e8c 2px solid;
}

/* footer */

footer{
    background-color: #030349;
    height: 350px;
}
.footer__content{
    width: 75%;
    margin: 0 auto;
}
.footer__item ul{
    list-style: none;
}
.footer__item li{
    padding: 5px ;
}
.footer__item i{
    padding: 0 5px;
    color: #d5c21e;
}
.footer__item h3{
    font-weight: 800;
    margin: 20px 0;
    font-size: 25px;
}
.footer__item {
  float: left;
  width: 30%;
  color: white;
  margin: 0 1.5%;
  padding: 20px 50px;
}
.footer__bottom{
    color: white;
    border-top: solid 2px #353131;
    padding-top: 20px;
}
